<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Postcard!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1></h1>
    <form action="/results" method="post">
     <label for="noun">Please provide any noun</label>
     <input id="noun" name="noun" type="text">
     <label for="verb">Please provide any verb</label>
     <input id="verb" name="verb" type="text">
     <button type="submit">Go!</button>
    </form>

  </body>
</html>