<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Postcard!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1></h1>
    <form action="/puppy" method="post">
     <label for="puppy">please enter your dog's name</label>
     <input id="puppy" name="puppy" type="text">
     <label for="breed">Enter Breed</label>
     <input id="breed" name="breed" type="text">
     <button type="submit">Go!</button>
    </form>

  </body>
</html>